.DS_Store
node_modules/
src/
.editorconfig
.eslintrc.js
.gitignore
.prettierrc.js
.swiftlint.yml
ios/Pods/
ios/build/
ios/Plugin.xcworkspace
android/.gradle/
android/.idea/
android/build/
android/local.properties
tsconfig.json
rollup.config.js
*.log
